In [7]:
import numpy as np
import pandas as pd

numeric_cols = pd.read_csv("./train_numeric.csv",nrows=1).columns.values
numeric_cols.shape

(970,)

In [29]:
F0 = pd.read_csv("./train_numeric.csv",usecols=(numeric_cols[:2].tolist()+['Response']))
print(F0.shape)
F0.iloc[:10,:]

(1183747, 3)

   Id  L0_S0_F0  Response
0   4     0.030         0
1   6       NaN         0
2   7     0.088         0
3   9    -0.036         0
4  11    -0.055         0
5  13     0.003         0
6  14       NaN         0
7  16       NaN         0
8  18    -0.016         0
9  23       NaN         0

In [17]:
cat_cols = pd.read_csv("./train_categorical.csv",nrows=1).columns.values
cat_cols.shape

(2141,)

In [30]:
cat = pd.read_csv("./train_categorical.csv",usecols=(cat_cols[:2].tolist()))
print(cat.iloc[:,1].describe())
print(cat.shape)

(1183747, 2)

/Users/xiuqi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
date_cols = pd.read_csv("./train_date.csv",nrows=1).columns.values
print(date_cols.shape)

(1157,)

In [28]:
date = pd.read_csv("./train_date.csv",usecols=(date_cols[:2].tolist()))
print(date.shape)
date.iloc[:10,:]

(1183747, 2)

   Id  L0_S0_D1
0   4     82.24
1   6       NaN
2   7   1618.70
3   9   1149.20
4  11    602.64
5  13   1331.66
6  14       NaN
7  16       NaN
8  18    517.64
9  23       NaN